<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <script>
            $(function() {
                $("a").click(function() {
                    clicked = $(this);
                    ISBN = clicked.attr('ISBN');

                    // we don't want to do this for links that aren't books
                    if (typeof ISBN == "undefined") {
                        return;
                    }

                    $.ajax({
                        url: "{{ base_URL }}/add_item?ISBN=" + ISBN,
                        type: 'get',
                        dataType: 'html',
                        async: false,
                        success: function(data) {
                            // have to get rid of newline that python prints >_<
                            if (data.substring(0, 5) != "added") {
                                window.location = 'login';
                            } else {
                                if ($('.'+ISBN).length) {
                                    $('.'+ISBN).remove();
                                }
                                $('<span class="' + ISBN + '"> - successfully added</span>').insertAfter(clicked);
                                $('.'+ISBN).fadeOut(3000);
                            }
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12'>
                    {{ result }}
        </div>
    </body>
</html>
