<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>

        <script>
            function validateForm(form_number) {
                var form = document.forms['carddetails'+form_number];

                var name = form['name'].value;
                var cardnumber = form['cardnumber'].value;
                var year = form['year'].value;
                var month = form['month'].value;
                var ccv = form['ccv'].value;

                if (month == null || month == '') {
                    alert("Please enter the expiration date");
                    return false;
                }

                if (year == null || year == '') {
                    alert("Please enter the expiration date");
                    return false;
                }

                var d = new Date();
                if ( year <= parseInt(d.getFullYear().toString().substr(2,2)) ) {
                    if ( d.getMonth() > parseInt(month) ) {
                        alert("Card has expired.");
                        return false;
                    }
                }
            }
        </script>

        <script>
            function reloadPage() {location.reload(true);}
            function update(ISBN) {
                $.post( 'update_quantity',
                        { ISBN: ISBN, quantity: $("#quantity").val()},
                        reloadPage
                      );
            }

            function delete_book(ISBN) {
                $.post( 'update_quantity',
                        { ISBN: ISBN, quantity: $("#quantity").val(), delete: 'delete' },
                        reloadPage
                      );
            }
        </script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12 col-sm-8'>
                    <div class='visible-xs'>
                        Address
                        <div class='address'>
                            {{ name }}<br />
                            {{ address }}
                        </div>
                        <form name='carddetails1' method='post' action='{{ base_URL }}/save_order' onsubmit="return validateForm(1)">
                            <div class='form-group'>
                                <label for='name'>Card Holder's Name</label>
                                <input type='text' class='form-control' id='name1' name='name'>
                            </div>

                            <div class='form-group'>
                                <label for='cardnumber'>Card Number</label>
                                <input type='number' class='form-control' name='cardnumber' id='cardnumber1'>
                            </div>

                            <label for='expirationdate'>Expiration Date</label>
                            <div class='form-group'>
                                <div class='input-group input-group-sm'>
                                    <span class='input-group-addon'>Month</span>

                                    <select class='form-control' name='month' id='month1'>
                                        <option></option>
                                        <option value="01">Jan (01)</option>
                                        <option value="02">Feb (02)</option>
                                        <option value="03">Mar (03)</option>
                                        <option value="04">Apr (04)</option>
                                        <option value="05">May (05)</option>
                                        <option value="06">June (06)</option>
                                        <option value="07">July (07)</option>
                                        <option value="08">Aug (08)</option>
                                        <option value="09">Sep (09)</option>
                                        <option value="10">Oct (10)</option>
                                        <option value="11">Nov (11)</option>
                                        <option value="12">Dec (12)</option>
                                    </select>

                                    <span class='input-group-addon'>Year</span>
                                    <select class='form-control' name='year' id='year1'>
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                </div>
                            </div>
                            <div class='form-group'>
                                <label for='cardnumber'>Card CCV</label>
                                <input type='number' class='form-control' name='ccv' id='ccv1'>
                            </div>

                            <span class='input-group-btn' type='submit'>
                                <button name='save' value='save' class='btn btn-primary btn-sm'>Submit Order</button>
                            </span>
                        </form>
                    </div>

                    {{ basket }}
                </div>
                <div class='col-sm-4 hidden-xs'>
                    Address
                    <div class='address'>
                        {{ name }}<br />
                        {{ address }}
                    </div>

                    <form id='carddetails2' name='carddetails2' method='post' action='{{ base_URL }}/save_order' onsubmit="return validateForm(2)">
                        <div class='form-group'>
                            <label for='name'>Card Holder's Name</label>
                            <input type='text' class='form-control' id='name2' name='name'>
                        </div>

                        <div class='form-group'>
                            <label for='cardnumber'>Card Number</label>
                            <input type='text' class='form-control' name='cardnumber' id='cardnumber2'>
                        </div>

                        <label for='expirationdate'>Expiration Date</label>
                        <div class='form-group'>
                            <div class='input-group input-group-sm'>
                                <span class='input-group-addon'>Month</span>

                                <select class='form-control' name='month'>
                                    <option></option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>

                                <span class='input-group-addon'>Year</span>
                                <select class='form-control' name='year'>
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='cardnumber'>Card CCV</label>
                            <input type='number' class='form-control' name='ccv' id='ccv2'>
                        </div>

                        <span class='input-group-btn' type='submit'>
                            <button name='save' value='save' class='btn btn-primary btn-sm'>Submit Order</button>
                        </span>
                    </form>
                    <script>
                        $( "#carddetails2" ).validate({
                            errorElement: "div",
                            focusCleanup: true,
                            errorClass: "tooltip",
                            validClass: "",

                            rules: {
                                name: "required",
                                cardnumber: {
                                    required: true,
                                    creditcard: true
                                },
                                ccv: {
                                    required: true,
                                    minlength: 3,
                                    maxlength: 3
                                }
                            },

                            messages: {
                                password_confirmation: {
                                    equalTo: "Passwords must match"
                                }
                            }
                        });
                        $( "#carddetails1" ).validate({
                            errorElement: "div",
                            focusCleanup: true,
                            errorClass: "tooltip",
                            validClass: "",

                            rules: {
                                name: "required",
                                cardnumber: {
                                    required: true,
                                    creditcard: true
                                },
                                ccv: {
                                    required: true,
                                    minlength: 3,
                                    maxlength: 3
                                }
                            },

                            messages: {
                                password_confirmation: {
                                    equalTo: "Passwords must match"
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
