<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row'>
                <div class='col-md-6 col-xs-12'>
                    <div class='form login'>
                        <h1>Sign In With An Existing Account</h1>
                        <span class='error'>{{ message }}</span>
                        <form id='user-form' name='user-form' method='post' action='{{ base_URL }}/login' class='login-form'>
                            <div class='form-group'>
                                <label for='username'>Username</label>
                                <input type='text' class='form-control' name='username' id='username'>
                            </div>

                            <div class='form-group'>
                                <label for='password'>Password</label>
                                <input type='password' class='form-control' name='password' id='password'>
                            </div>

                            <button name='login' value='login' type='submit' class='btn btn-primary'>Log In</button>
                            <div class='rememberme'>
                                <div class='box'><input name='remember' type="checkbox"></div>
                                <div class='text'>Keep me signed in</div>
                            </div>
                            <div class='forgotpassword'>
                                <a href='{{ base_URL }}/forgotten_password'>Forgot Password</a>
                            </div>

                        </form>
                        <script>
                            $( "#user-form" ).validate({
                                errorElement: "div",
                                focusCleanup: true,
                                errorClass: "tooltip",
                                validClass: "",

                                rules: {
                                    username: "required",
                                    password: "required"
                                }
                            });
                        </script>
                    </div>
                </div>

                <div class='col-md-4 col-xs-12'>
                    <div class='form'>
                        <h1>New Customer</h1>
                        <form method='post' action='{{ base_URL }}/new_account' class='new-account'>
                            <button type='submit' class='btn btn-default'>Create an Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
