body {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EFE;
}

input.tooltip {
    opacity: 1;
    position: relative;
}
div.valid {
    display: none !important;
}
div.tooltip {
    position: relative;
    opacity: 1;

    background-color: #A34;
    color: #FFF;

    margin-left: 20px;
    padding: 10px 20px;
        margin-top: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    width: 255px;
}
div.tooltip:before {
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #A34;
    border-left: 7px solid transparent;
    border-bottom-color: #A34;
    left: 124px;
    top: -14px;
    position: absolute;
    display: inline-block;
    content: '';
}

.form-control {
    display: inline-block;
}

.navbar {
    background-color: #ADF;
}
.navbar-nav>li:hover {
    background-color: #9CE;
}
.navbar-nav>.active>a {
    background-color: #E79684 !important;
}

.login {
    margin-bottom: 50px;
}

button.navbar-toggle {
    background-color: #E79684;
    padding: 12px 20px 0px 20px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
      background-color: #D87;
}

.navbar-brand {
    color: #000 !important;
}

.btn-default {
    background-color: #ADF;
}
.btn-default:hover {
    background-color: #9CE;
}

.navbar-default .navbar-nav>li>a {
    color: #444;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #000 !important;
}

.input-group-addon-sm {
    height: 18px !important;
}

.form {
    border: 1px solid #aaa;

    padding: 20px 25px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    border: 1px solid #ccc;
}

.login-form > button {
    width: 100%;
}

.forgotpassword {
    float: right;
    display: inline-block;
    text-align: right;
}

.rememberme {
    display: inline-block;
}
.rememberme > .box {
    display: inline-block;
    margin: 0 ! important;
}
.rememberme > .text {
    display: inline-block;
}

.new-account {
    padding-left: 50px;
}

.centered-info {
    max-width: 850px;
    margin: 0 auto;
}

.centered {
    max-width: 550px;
    margin: 0 auto;
}

.error {
    color: red;
}
.warning {
    color: blue;
}

.result {
    float: left;

    margin: 20px 20px;
}
.result > .text {
    display: inline-block;
    min-width: 230px;
    max-width: 300px;
}

.image {
    display: inline-block;
    text-align: center;
}
.image > img {
    margin: 10px auto;
    width: 150px;
    height: auto;
}


.book > .text {
    display: inline-block;
    width: 90%;
}

.details {
    margin: 0 auto;
}
td {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.search-page {
    max-width: 80%;
    margin-left: 0;
}

select,
input {
    background-color: #FFF !important;
}

.toggle-advanced-search {
    cursor:pointer;
    color: green;
}
.toggle-advanced-search:hover {
    text-decoration: underline;
}

#right {
    background-color: #EFE;
    position: absolute;
}

#advanced-search-wrapper {
    float:left;
    width: 350px;
    height: 100%;
    display: none;
}

#advanced-search {
    padding-right: 10px;
}
.left-indent > .form-group > .form-control {
    margin-left: 10px;
}

.checkout {
    margin-top: 15px;
}

.address {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #DDA;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #ccc;
}

.order {
    margin-bottom: 40px;
    padding-right: 20px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #888;
}

.nav-text {
    padding-left: 15px;
}

.twitter-typeahead {
    width: 100%;
    margin-left: 10px;
}
.twitter-typeahead .tt-hint {
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
}
.tt-hint {
    display: none;
}
.tt-suggestion {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    border: 1px solid #ddd;

    background-color: #eee;

    padding: 2px 8px;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.additem {
    cursor: pointer;
}

.history-info {
    margin-left: 20px;
    margin-top: 10px;
}

.inline-span {
    display: inline !important;
}

@media (min-width: 768px) {
    .inline-span {
        display: none !important;
    }

    #right {
        position: relative;
        display: inline-block;
    }

    #advanced-search-wrapper {
        height: 100%;
        width: 30%;
        display: inline-block;
        max-width: 260px;
    }

    .search-page {
        max-width: 100%;
    }

    .image {
        margin-right: 40px;
    }
    .result {
        margin: 20px 0 20px 20px;
    }

    .form {
        margin-bottom: 30px;
    }

    .book > .image > img {
        width: auto;
        max-width: 520px;
    }
    .book > .text {
        display: inline;
    }

    .nav-text {
        margin-top: 15px;
        margin-right: 45px;
    }

    .login-form {
        padding-right: 100px;
        padding-left: 50px;
    }
}

@media  (min-width: 992px) {
    .inline-span {
        display: inline !important;
    }
}

@media (min-width: 1240px) {
    .navbar-collapse {
        width: 60%;
        margin: auto;
    }
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
	content: "\e600";
}
.icon-history:before {
	content: "\e601";
}
.icon-enter:before {
	content: "\e606";
}
.icon-magnifier:before {
	content: "\e602";
}
.icon-shopping-cart:before {
	content: "\e603";
}
.icon-chevron-left:before {
	content: "\e604";
}
.icon-chevron-right:before {
	content: "\e605";
}
.icon-angle-down:before {
    content: "\e607";
}
.icon-angle-up:before {
	content: "\e608";
}

.icon-angle-down,
.icon-angle-up {
    font-size: 29px;
    line-height: 0;
}

.icon-exit,
.icon-enter,
.icon-history,
.icon-magnifier,
.icon-shopping-cart,
.icon-chevron-left,
.icon-chevron-right {
    padding: 0 10px;
}
