<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    </head>
    <body>
        {{ nav }}
        <div class='container centered'>
            <div class='row'>
                <div class='col-xs-12'>
                    <h1>Create a new account</h1>
                    <span class='error'>{{ message }}</span><br />
                    <span class='warning'>Note: All fields are required.</span>
                    <form id='user-form' name='user-form' method='post' action='{{ base_URL }}/new_account'>
                        <div class='form-group'>
                            <label for='username'>Username</label>
                            <input type='text' class='form-control' name='username' id='username'>
                        </div>

                        <div class='form-group'>
                            <label for='password'>Password (at least 5 characters)</label>
                            <input type='password' class='form-control' name='password' id='password'>
                        </div>
                        <div class='form-group'>
                            <label for='password-confirmation'>Confirm Password</label>
                            <input type='password' class='form-control' name='password_confirmation' id='password_confirmation'>
                        </div>

                        <div class='form-group'>
                            <label for='fullname'>Full Name</label>
                            <input type='text' class='form-control' name='fullname' id='fullname'>
                        </div>

                        <div class='form-group'>
                            <label for='street'>Street</label>
                            <input type='text' class='form-control' name='street' id='street' placeholder='e.g. 42 Wallaby Way'>
                        </div>

                        <div class='form-group'>
                            <label for='cityOrSuburb'>City/Suburb</label>
                            <input type='text' class='form-control' name='cityOrSuburb' id='cityOrSuburb'>
                        </div>

                        <div class='form-group'>
                            <label for='state'>State</label>
                            <input type='text' class='form-control' name='state' id='state'>
                        </div>

                        <div class='form-group'>
                            <label for='postcode'>Postcode</label>
                            <input type='text' class='form-control' name='postcode' id='postcode' placeholder='e.g. 2031'>
                        </div>

                        <div class='form-group'>
                            <label for='emailaddress'>Email Address</label>
                            <input type='email' class='form-control' name='emailaddress' id='emailaddress'>
                        </div>

                        <button type='submit' class='btn btn-primary'>Make Account</button>
                    </form>

                    <script>
                        $( "#user-form" ).validate({
                            errorElement: "div",
                            focusCleanup: true,
                            errorClass: "tooltip",
                            validClass: "",

                            rules: {
                                username: "required",
                                password: {
                                    required: true,
                                    minlength: 5,
                                },
                                password_confirmation: {
                                    required: true,
                                    equalTo: "#password"
                                },
                                fullname: "required",
                                street: "required",
                                cityOrSuburb: "required",
                                state: "required",
                                postcode: {
                                    required: true,
                                    number: true,
                                    minlength: 4,
                                    maxlength: 4
                                },
                                emailaddress: {
                                    required: true,
                                    email: true
                                }
                            },

                            messages: {
                                password: {
                                    minlength: "Password must be at least 5 characters.",
                                },
                                password_confirmation: {
                                    equalTo: "Passwords must match"
                                },
                                emailaddress: {
                                    email: "Your email must be in the form name@domain.com"
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
