<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row'>
                <div class='centered-info'>
                    <h1>{{ title }}</h1>
                    <h3>{{ message }}</h3>
                    <span class='warning'>PLEASE NOTE: Check your emails for a link to continue with this process.
                    You will not be able to log in until this process is complete.
                    If you do not receive an email in 15 minutes, click
                    <a href="{{ base_URL }}/{{ page }}">here</a>
                    to send another email.</span>
                </div>
            </div>
        </div>
    </body>
</html>
