<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row centered'>
                <div class='col-xs-6'>
                    <form id='user-form' name='user-form' onsubmit='return validateForm()' method='post' action='{{ base_URL }}/reset_password'>
                        <div class='form-group'>
                            <label for='username'>Username</label>
                            <input readonly name='username' id='username' value='{{ username }}' class='form-control'>
                        </div>
                        <div class='form-group'>
                            <label for='emailaddress'>Email Address</label>
                            <input readonly name='emailaddress' id='emailaddress' value='{{ email_address }}' class='form-control'>
                        </div>

                        <div class='form-group'>
                            <label for='password'>Password</label>
                            <input type='password' class='form-control' name='password' id='password'>
                        </div>
                        <div class='form-group'>
                            <label for='password-confirmation'>Confirm Password</label>
                            <input type='password' class='form-control' name='password_confirmation' id='password_confirmation'>
                        </div>

                        <button type='submit' class='btn btn-default'>Reset Password</button>
                    </form>
                    <script>
                        $( "#user-form" ).validate({
                            errorElement: "div",
                            focusCleanup: true,
                            errorClass: "tooltip",
                            validClass: "",

                            rules: {
                                username: "required",
                                password: {
                                    required: true,
                                    minlength: 5,
                                },
                                password_confirmation: {
                                    equalTo: "#password"
                                },
                                emailaddress: {
                                    required: true,
                                    email: true
                                }
                            },

                            messages: {
                                password_confirmation: {
                                    equalTo: "Passwords must match"
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
