<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <script>
            $( document ).ready(function() {
                $('#title').typeahead({
                    remote: '../search.py?type=title&query=%%QUERY',
                });

                $('#author').typeahead({
                    remote: '../search.py?type=author&query=%%QUERY',
                });

                $('#publisher').typeahead({
                    remote: '../search.py?type=publisher&query=%%QUERY',
                });

                $('#ISBN').typeahead({
                    remote: '../search.py?type=ISBN&query=%%QUERY',
                });
            });
        </script>

        <script>
            $(function () {
                $(".toggle-advanced-search").click(function () {
                    if ($("#right").css("left") == '350px') {
                        $('#right').animate({ left: 0}, 500);
                        $('#right').show();
                        $('#advanced-search-wrapper').hide();
                    } else {
                        $('#right').animate({ left: 350}, 500);
                        setTimeout(function() {
                            $('#right').hide();
                        }, 500);
                        $('#advanced-search-wrapper').show();
                    }
                });
            });
        </script>

    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12' id='search-page-wrapper'>
                    <form class='left-indent' method ='GET' action='{{ base_URL }}/search'>
                        <div class='form-group'>
                            <label for='title'>Title</label>
                            <input type='text' class='form-control' name='title' id='title'>
                        </div>
                        <div class='form-group'>
                            <label for='keywordsearch'>{{ search_message }}</label>
                            <input type='text' placeholder="e.g. Harry Potter Sorcerer's Stone" class='form-control' name='contains' id='contains'>
                        </div>
                        <div class='form-group'>
                            <label for='Author'>Author</label>
                            <input type='text' class='form-control' name='author' id='author'>
                        </div>
                        <div class='form-group'>
                            <label for='publisher'>Publisher</label>
                            <input type='text' class='form-control' name='publisher' id='publisher'>
                        </div>
                        <div class='form-group'>
                            <label for='ISBN'>ISBN</label>
                            <input type='text' class='form-control' name='ISBN' id='ISBN'>
                        </div>
                        <div class='form-group'>
                            <label for='result-cap'>Number of Results</label>
                            <input type='text' class='form-control' name='result-cap' id='result-cap'>
                        </div>

                        <button type='submit' class='btn btn-default pull-right'>Search</button>
                    </form>


                    {{ message }}
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>
