<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/mekong.css" type="text/css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/typeahead.js/0.9.3/typeahead.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{ nav }}
        <div class='container'>
            <div class='row centered'>
                <div class='col-xs-12'>
                    <h3><b>Please enter your email address below.</b></h3>
                    {{ message }}<br /><br />
                    <form method='post' action='{{ base_URL }}/{{ page }}'>
                        <div class='form-group'>
                            <label for='emailaddress'>Email Address</label>
                            <input type='email' name='emailaddress' id='emailaddress' class='form-control'>
                        </div>
                        <button type='submit' class='btn btn-default'>{{ button }}</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
